label{
    color: #121212;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    cursor: pointer;
}
.nav.active,.nav.active label,.nav.active div span,.nav.active div label{
    background-color: #e8f0fe;
    cursor: pointer;
    color:#1a73e8;
    border-radius: 0 50px 50px 0;
}
.nav[aria-selected]{
    border-radius: 0 50px 50px 0;
}
.nav:hover{
    border-radius: 0 50px 50px 0;
}
mat-sidenav-container {
    height: 100%;
    min-height: 100%;
}
.mat-list-option{
    height: 36px !important;
}
.bottom{
    bottom: 2%;
    left: 0;
    right: 0;
    position: absolute;
}
.down{
    bottom: 13%;
    left: 0;
    right: 0;
    position: absolute;
}
mat-sidenav{
    width:250px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
  
.mat-expansion-panel {
    background: none
}

.mat-expansion-panel.mat-expanded .mat-expansion-panel-header{
    background-color: #c2bfb84f;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
    height: 40px;
}
