<mat-toolbar style="box-shadow:0px 2px 7px 3px rgb(0 0 0 / 20%);z-index: 9999;" class="fixed-top">
    <!-- <div  style="background-color: white;" class="py-3 px-2">
        <img src="../../assets/logo.png">
    </div> -->
    <img src="../../assets/header logo.png">
    <div class="form-group w-50 ms-5">
        <span class="material-icons form-control-icon" style="color: #5f6368;">search</span>
        <input type="text" class="form-control" placeholder="Search">
    </div>
    <span class="example-spacer"></span>
    <span class="material-icons me-4" style="cursor: pointer;">apps</span>
    <span class="material-icons" style="cursor: pointer;">account_circle</span>
    <!-- <div class="bd-b"></div> -->
</mat-toolbar>
<router-outlet></router-outlet>
