<mat-sidenav-container>
    <mat-sidenav mode="side" class="border-0" [ngStyle]="{'background-color': isExpanded==true ? '#fff' : '#fafafa' }" opened (mouseover)="isExpanded = true" (mouseleave)="isExpanded = false">
        <mat-selection-list [multiple]="false">
            <mat-list-option routerLink="/home" routerLinkActive="active" class="nav">
                <div class="d-flex">
                    <span class="material-icons">home</span>
                    <label mat-line *ngIf="isExpanded" class="align-self-center ms-2">Home</label>
                </div>
            </mat-list-option>
            <mat-list-option routerLink="/reports/reports-nav" routerLinkActive="active" class="nav">
                <div class="d-flex">
                    <span class="material-icons">poll</span>
                    <label mat-line *ngIf="isExpanded" class="align-self-center ms-2">Reports</label>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>