<div class="container">
    <h3>Firebase overview</h3>
    <mat-divider ></mat-divider>
    <div class="h-grid">
        <mat-card>
            <mat-card-content>
                <div  class="h-card" fxLayout="column" fxLayoutAlign="center center">
                    <img src="https://storage.googleapis.com/support-kms-prod/2lZWxdXgEBvnyFd2FPg3oZseO9qUelfYEsUn">
                    <div>
                        <h4 class="l-header">Start free online training</h4>
                        <p>Learn how to get the most out of Google Analytics in this free course.</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div  class="h-card" fxLayout="column" fxLayoutAlign="center center">
                    <img src="https://storage.googleapis.com/support-kms-prod/6SbmWSCCGZUXUbZAngj0eMR9nILhTZoxHP4d">
                    <div>
                        <h4 class="l-header">Access the demo account</h4>
                        <p>Analyze real business data and experiment with Google Analytics 4 features.</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>