.h-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 2vw;
    grid-column-gap: 4vw;
    margin: 24px auto;
    max-width: 60vw;
    justify-content: center;
    padding-bottom: 24px;
}
.l-header {
    font-size: 26px !important;
    font-weight: 500 !important;
    margin-bottom: 30px !important;
    margin-top: 8px !important;
}

