mat-card {
    max-width: 700px;
    margin: 2em auto;
    
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 15%);
}

.l-header {
    font-size: 26px !important;
    font-weight: 500 !important;
    margin-bottom: 30px !important;
    margin-top: 8px !important;
}

