<div class="container-fluid">
    <h4>Home</h4>
    <mat-divider class="my-2"></mat-divider>
    <div class="card1">
        <mat-card fxFlex fxFlexAlign="start" class="mat-elevation-z8">
            <mat-card-content>
                <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
                    <span style="cursor: pointer;text-align:center;" fxLayoutAlign="center center"
                        fxFlex="calc(12%-25px)">
                        <img src="https://storage.googleapis.com/support-kms-prod/6SbmWSCCGZUXUbZAngj0eMR9nILhTZoxHP4d"
                            class="img-fluid" alt="" style="width: 10em;">
                    </span>
                    <span fxFlex="calc(50%-25px)">
                        <h1 class="l-header">Access the demo account</h1>
                        <p>Analyze real business data and experiment with Google Analytics 4 features.</p>
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card2">
        <mat-card fxFlex fxFlexAlign="start" class="mat-elevation-z8">
            <mat-card-content>
                <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
                    <span style="cursor: pointer;text-align:center;" fxLayoutAlign="center center"
                        fxFlex="calc(12%-25px)">
                        <img src="https://storage.googleapis.com/support-kms-prod/2lZWxdXgEBvnyFd2FPg3oZseO9qUelfYEsUn"
                            class="img-fluid" alt="" style="width: 10em;">
                    </span>
                    <span fxFlex="calc(50%-25px)">
                        <h1 class="l-header">Start free online training</h1>
                        <p>Learn how to get the most out of Google Analytics in this free course.</p>
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div> 
</div>