<div class="container-fluid">
    <h4>Reports snapshot</h4>
    <mat-divider class="my-2"></mat-divider>
    <div class="h-grid">
        <mat-card>
            <mat-card-content>
                <div  class="h-card" fxLayout="column" fxLayoutAlign="center center">
                    <img src="https://ssl.gstatic.com/analytics/analytics-frontend.indexpage_20220313.03_p0/index/static/vero/crosstab.png">
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div  class="h-card" fxLayout="column" fxLayoutAlign="center center">
                    <img src="https://ssl.gstatic.com/analytics/analytics-frontend.indexpage_20220313.03_p0/index/static/vero/funnel.png">
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div  class="h-card" fxLayout="column" fxLayoutAlign="center center">
                    <img src="https://ssl.gstatic.com/analytics/analytics-frontend.indexpage_20220313.03_p0/index/static/vero/pathing.png">
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div  class="h-card" fxLayout="column" fxLayoutAlign="center center">
                    <img src="https://ssl.gstatic.com/analytics/analytics-frontend.indexpage_20220313.03_p0/index/static/vero/overlap.png">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>